[client]
default-character-set=utf8

[mysql]
default-character-set=utf8

[mysqld]
# Character
collation-server                    = utf8_unicode_ci
init-connect                        = 'SET NAMES utf8'
character-set-server                = utf8

# Data Store
datadir                             = /var/lib/mysql

# GENARAL
socket                              = /var/run/mysqld/mysqld.sock
port                                = 3306
pid-file                            = /var/run/mysqld/mysqld.pid
user                                = mysql
server-id                           = 1
lower_case_table_names              = 1
default-storage-engine              = innodb

# MyISAM
key-buffer-size                     = 32M
myisam-recover                      = FORCE,BACKUP

# SAFETY
max-allowed-packet                  = 16M
max-connect-errors                  = 1000000

# CACHES AND LIMITS
tmp-table-size                      = 32M
max-heap-table-size                 = 32M
query-cache-type                    = 0
query-cache-size                    = 0
max-connections                     = 100
thread-cache-size                   = 16
open-files-limit                    = 65535
table-definition-cache              = 4096
table-open-cache                    = 4096

# INNODB 
innodb-file-per-table               = 1
innodb_buffer_pool_size             = 256M # 70-80% off RAM
